# DO NOT ADD ANY REAL API KEYS HERE!!!
# This is a template for the .env file to show what API keys are needed!
# Create your own file for environment variables by declaring '.env' on the same directory level as this example file
# Get environment variables from the notion or from a project lead
POSTGRES_URL=""
DATABASE_URL=""
DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""
NEXTAUTH_SECRET=""
NEXTAUTH_URL=""