# DO NOT ADD ANY REAL API KEYS HERE!!!
# This is a template for the .env file to show what API keys are needed!
# Create your own file for environment variables by declaring '.env' on the same directory level as this example file
# Get environment variables from the notion or from a project lead
MONGODB_URI=""
POSTGRES_URL=""

DISCORD_CLIENT_ID=""
DISCORD_TOKEN=""
NEXTAUTH_SECRET=""

  